urxvt*font: -*-terminus-medium-r-*-*-14-*-*-*-*-*-*-*
urxvt*loginShell: true
urxvt*background: black
urxvt*foreground: grey
urxvt*scrollBar: false
urxvt*termName: xterm
urxvt*urlLauncher: google-chrome
urxvt*perl-ext-common: default,matcher
urxvt*matcher.button: 1
urxvt*saveLines: 20000
URxvt*keysym.Home: \033[1~
URxvt*keysym.End: \033[4~
urxvt*depth: 32
urxvt*transparent: true
urxvt*shading: 30
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true
